* {
	padding: 0;
	margin: 0;
}
::-webkit-scrollbar{
	display: none;
}
@font-face {
	font-family: "hanken";
	src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
:root {
	--Lightred: hsla(0, 100%, 67%, 0.071);
	--Orangeyyellow: hsla(
		39,
		100%,
		56%,
		0.071
	);
	--Greenteal: hsla(
		166,
		100%,
		37%,
		0.071
	);
	--Cobaltblue: hsl(
		234,
		85%,
		45%,
		0.071
	);
	--Lightslateblue: hsl(252, 100%, 67%);
	--Lightroyalblue: hsl(241, 81%, 54%);
	--Violetblue: hsla(256, 72%, 46%, 1);
	--Persianblue: hsla(241, 72%, 46%, 0);
	--White: hsl(0, 0%, 100%);
	--Paleblue: hsl(221, 100%, 96%);
	--Lightlavender: hsl(241, 100%, 89%);
	--Darkgrayblue: hsl(224, 30%, 27%);
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}
section {
	display: flex;
	background-color: var(--White);
	height: 60vh;
	box-shadow: 5px 4px 4px
	rgba(0, 0, 0, 0.144);
	border-radius: 0px 0px 16px 0px;
	width: 60%;
	justify-content: center;
	flex-direction: row;
}
.left {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 49%;
	background: linear-gradient(
		to top,
		var(--Lightroyalblue),
		var(--Lightslateblue)
	);
	border-radius: 25px;
	font-family: hanken;
	color: var(--White);
	padding-top: 20px;
}
.left h3 {
	padding-top: 5px;
	padding-bottom: 30px;
	opacity: 0.9;
}
.left h5 {
	padding-top: 20px;
	font-size: 150%;
}
.left .pl1 {
	text-align: center;
	width: 75%;
}
.left .pl1 p {
	font-size: 16px;
	font-weight: 500;
	opacity: 0.8;
}
.left .circle {
	border-radius: 90px;
	width: 28%;
	background: linear-gradient(
		to top,
		var(--Persianblue),
		var(--Violetblue)
	);
}
.left .circle h4 {
	font-size: 350%;
}
.left .circle p {
	margin-top: -10px;
	opacity: 0.5;
}
.right {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 20px;
	align-items: center;
	font-family: hanken;
	font-weight: 500;
	border-left: none;
}
.right .title{
    width: 70%;
    text-align: left;
}
.right .title h5 {
	font-size: 130%;
}
.right .react {
	color: hsl(0, 100%, 67%);
}
.right .memo {
	color: hsl(39, 100%, 56%);
}
.right .verb {
	color: hsl(166, 100%, 37%);
}
.right .visu {
	color: hsl(234, 85%, 45%);
}
.right .spa {
	font-weight: 600;
}
.right .spa2 {
	color: var(--Darkgrayblue);
	font-weight: 700;
	opacity: 0.5;
}
.reaction,
.memory,
.verbal,
.visual {
	display: flex;
	justify-content: space-between;
	width: 70%;
	padding: 10px;
	border-radius: 8px;
}
.reaction {
	background-color: var(--Lightred);
}
.memory {
	background-color: var(
		--Orangeyyellow
	);
}
.verbal {
	background-color: var(--Greenteal);
}
.visual {
	background-color: var(--Cobaltblue);
}
.reaction-icon,
.memory-icon,
.verbal-icon,
.visual-icon {
	display: flex;
	gap: 10px;
}
.right button {
	background-color: var(--Darkgrayblue);
	width: 80%;
	border: none;
	padding: 16px;
	border-radius: 18px;
	color: var(--Paleblue);
	font-weight: 700;
	cursor:pointer;
}
@media only screen and (width < 375px){
section{
	flex-direction: column;
	width: 100%;
	height: 100vh;
	justify-content: start;
}
.left{
	width: 100%;
	border-radius: 0px 0px 25px 25px;
	padding-bottom: 39px;
	height: 42vh;
}
.left h3{
	font-size: 160%;
	opacity: 0.8;
	padding-bottom: 17px;
}
.left .circle {
	border-radius: 800px;
	width: 30%;
	padding: 35px;
}
.left .circle h4 {
	font-size: 390%;
}
.left h5{
	padding-bottom: 10px;
}
.left .pl1 {
	text-align: center;
	width: 10%;
	border: 2px solid red;e
}
.left .pl1 p{
font-size: 18px;
opacity: 0.7;
}
.right {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;
	align-items: center;
	font-family: hanken;
	font-weight: 500;
}
.right .title{
    width: 70%;
    text-align: left;
	margin-left: -20px;
	padding-top: 20px;
}
.right .title h5 {
	font-size: 130%;
}
.right button{
	border-radius: 50px;
}
}
@media only screen and (width < 575px){
section{
	flex-direction: column;
	width: 100%;
	height: 100vh;
	justify-content: start;
}
.left{
	width: 100%;
	border-radius: 0px 0px 25px 25px;
	padding-bottom: 39px;
	height: 42vh;
}
.left h3{
	font-size: 160%;
	opacity: 0.8;
	padding-bottom: 17px;
}
.left .circle {
	border-radius: 800px;
	width: 30%;
	padding: 35px;
}
.left .circle h4 {
	font-size: 390%;
}
.left h5{
	padding-bottom: 10px;
}
.left .pl1 {
	text-align: center;
	width: 100%;
}
.left .pl1 p{
font-size: 18px;
opacity: 0.7;
}
.right {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;
	align-items: center;
	font-family: hanken;
	font-weight: 500;
}
.right .title{
    width: 70%;
    text-align: left;
	margin-left: -20px;
	padding-top: 20px;
}
.right .title h5 {
	font-size: 130%;
}
.right button{
	border-radius: 50px;
}
}